body {
  background-color: #900;
  padding: 20px;
}
h1 {
  font-family: "Arial";
  font-size: 3em;
  color: #fff;
  text-shadow: 0px 0px 10px #000;
  text-align: center;
}
.newTemp {
  font-size: 2em;
}
div {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 20px;
  background-color: #bd0000;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 15px #000;
}
input,
button {
  box-sizing: border-box;
  display: block;
  margin: 20px auto;
  width: 55%;
  height: 40px;
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input {
  font-family: "Arial";
  font-size: 1em;
}
button {
  background-color: #099;
  font-family: "Arial";
  color: #fff;
  font-size: 1.2em;
}
button:hover {
  cursor: pointer;
  background-color: #bd0000;
}
button:active {
  background-color: #000;
}
